<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:theme="@android:style/Theme.Holo.Light.NoActionBar"
    package="com.andrewtrainor.compoundapp">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Andrew Trainor - Final Project"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YelpCompoundApp">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAabBP2kkBsOG1lOCCwf7H1de1iCIzR10A" />

        <activity
            android:name=".Register"
            android:label="Andrew Trainor - Final Project"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondaryActivity"
            android:windowSoftInputMode="adjustNothing">

            <!--Default Intent Filter-->
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>